body {
    background-color: #f5f5f5;
}

#navBar {
    padding: 0px 0px 0px 0px;
    background-color: #292929;
    color: white;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    height: 50px;
}

.ui.inverted.menu .item {
    padding: 12px 40px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.footer-background {
    background-color: #292929;
    color: white;
    padding: 50px 25%;
}

.myheader {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}

.caption {
    background-color: rgb(0, 0, 0, 0);
    font-size: 14px;
    padding: 0% 5%;
}

.caption-bold {
    font-weight: bold;
    text-align: center;
    color: #4951E6;
    padding-top: 10px;
}

#graph1, #map1{
    height: 500px;
}
